.navbar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid #06D6A0;
}

.navbar .logo {
    width: 250px;
    padding: 30px 0;
}

.categories {
    display: flex;
    align-items: center;
    list-style: none;
}

.categories li {
    padding: 0 40px;
    font-size: 20px;
}